.form,
.reserveRes {
  padding-left: 0.5rem;
}
.singleRes {
    text-align: center;
}
.form,
.guests,
.date {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: center;
}
#date {
  width: 100%;
}
.form {
  grid-gap: 1rem;
}
.reserveRes {
  font-size: 1.25rem;
}
#guests,
#date {
  line-height: 1.5rem;
}
.react-datepicker-wrapper {
  width: 100%;
}
.submit {
  justify-self: start;
  padding: 0.5rem 1rem;
  background-color: rgb(247, 60, 60);
  border-radius: 3px;
  color: white;
  border-color: rgb(247, 60, 60);
}

